[submodule "champ"]
	path = VKR/workspace/src/champ
	url = https://github.com/chvmp/champ


[submodule "champ_teleop"]
	path = VKR/workspace/src/champ_teleop
	url = https://github.com/chvmp/champ_teleop


[submodule "yocs_velocity_smoother"]
	path = VKR/workspace/src/yocs_velocity_smoother
	url = https://github.com/chvmp/yocs_velocity_smoother
