<launch>
    <arg name="robot_name" default="/"/>
    <arg name="rviz"       default="false"/>
    
    <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" />

    
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find cartographer_ros)/configuration_files
            -configuration_basename backpack_3d.lua"
        output="screen">
      <remap from="points2_1" to="horizontal_laser_3d" />
      <remap from="points2_2" to="vertical_laser_3d" />
    </node>

    
     <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_3d.rviz" />
    
</launch>
